@import "../../../styles.scss";

.NotizieContainer{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;

  @media #{$on_desktop_only} {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
