<span class="SocialFooterContainer">
  <a href="https://www.linkedin.com/in/michele-digiacomo-188a54250/">
    <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="social">Linkedin
  </a>
  <a href="https://github.com/MicheleDigi98">
    <img src="https://git-scm.com/images/logos/downloads/Git-Icon-Black.png" alt="social">Github
  </a>
  <a href="https://www.instagram.com/micheledigi98/">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/2048px-Instagram_icon.png" alt="social">Instagram
  </a>
  <a href="mailto:micheledigiacomota98@gmail.com">
    Email
  </a>
  <span>
    Telefono: +39 3934669397
  </span>
</span>
