<scroll-layout>
  <div class="IntroduzioneContainer anchor">
    <h1 class="center">Benvenuto o Benvenuta</h1>
    <br/>
    <p class="center">In questa sezione troverai molte informazioni sul mio percorso e sulle mie capacità.</p>
    <p class="center">La pagina si articola in profondità. Buona lettura.</p>
    <br/>
    <br/>
    <div class="ScrollImageContainer">
      <img alt="Freccia scroll verso il basso" src="assets/icons/arrowDownIcon.png"/>
    </div>
  </div>
  <div class="responsiveTwoColl fullSize anchor">
    <img
      [scrollAnimation]="{
        '0': {'translateX': '-100'},
        '60': {'top': '0', 'translateY': '0', 'translateX': '0'},
        '100': {'top': '50', 'translateY': '-50'}
      }"
      style="width: 100%; border-radius: 12px"
      alt="Immagine di michele"
      src="assets/images/micdj.png">
    <div
      [scrollAnimation]="{
        '0': {'translateX': '100'},
        '60': {'translateX': '0'}
      }"
      class="standardColumnContainer">
      <h1 class="center">Mi presento</h1>
      <br />
      <p class="center">Il mio nome é Michele Digiacomo, abito a Manduria(TA) e sono un appassionato di informatica.</p>
      <p class="center">
        I miei hobbies vedono un enorme quantità di argomenti che andare ad elencare é quasi impossibile, tuttavia questi includono: <br />
        <b>Depressione al pc</b>, <b>Pianto di frustrazione</b> e <b>Alta dose di sconforto</b>.
      </p>
      <p class="center">
        Soprattutto nell'ultimo periodo ho avuto modo di praticarli ampiamente e migliorare nel corso del tempo.
      </p>
      <p class="center">
        Scherzi a parte una delle mie più grandi passioni é quello di realizzare videogiochi o almeno é quello che credevo fino a poco tempo fa.
        Andando più nello specifico quello che più mi aggrada é concepire e progettare determinate soluzioni che poi possono essere utilizzate in diversi contesti.
        Per fare un esempio il sistema di animazioni sulla base dello scroll che ho implementato per questo sito.
      </p>
      <br/>
      <br/>
      <p class="center">
        Sono una persona che sta molto sulle sue ma apparte questo ho una buona capacità di lavoro in team. Mi ritengo una persona proattiva e che cerca l'autonomia
        il più velocmente possibile in modo da non pesare sulle spalle del mio team. Mi piace aiutare i colleghi e non mi tiro mai indietro quando qualcuno mi chiede un aiuto.
      </p>
    </div>
  </div>
  <div class="standardColumnContainer fullSize anchor">
    <h1 class="center">Qual'é stato il mio percorso?</h1>
    <br/>
    <p class="center">
      Nel 2012 inizio li studi in <b>Informatica e Telecomunicazioni</b>, durante questo periodo oltre ad aver affrontato tutti gli argomenti che descrivono un buon tecnico
      ho avuto anche modo di realizzare diversi progetti tra cui il mio progetto d'esame che al momento é uno dei progetti di cui vado più fiero.
    </p>
    <br/>
    <p class="center">
      Nel 2017 mi diplomo con una votazione di <b>95/100</b> portando come progetto di esame un videogioco che usava un motore grafico in RayCasting completamente progettato
      e realizzato da me sulla base di algoritmi personali.
    </p>
    <br/>
    <p class="center">
      Nel 2017 inizio il percorso di studi in <b>ITPS</b> all'università di Bari, nel corso dei miei <b>5 anni di studio</b> per prendere la triennale in informatica
      ho avuto modo di fare molta esperienza per dei progetti personali e di approfondire e applicare i concetti che studiavo in contesti reali.
      Sono stato molto meticoloso negli studi tuttativa questo mi ha portato ad allungare il percorso di un pò di tempo.
    </p>
    <br/>
    <p class="center">
      Nel 2022 mi laureo in ITPS con una votazione di <b>110/110</b> portando come progetto di esame una simulatore virtuale per l'apprendimento del personale che deve lavorare
      negli ambienti confinati. Tale progetto é stato presentato all'INAL <a href="https://www.inail.it/cs/internet/comunicazione/news-ed-eventi/eventi/evento-conclusivo-prog-spirit-2023.html">SPIRIT</a>.
      Tuttavia da nessuna parte viene menzionato il mio nome pur essendo stato l'unico sviluppatore dietro il progetto. Fortunatamente la mia <a download="SlideTesi" href="/Tesi/SlideTesi.pptx">TESI</a> documenta il mio lavoro.
    </p>
    <br/>
    <p class="center">
      Dal 2022 inizio a lavorare come Full-Stack (Molto Junior) e nel 2023 vengo assunto presso <b>Open Reply</b> nel quale al momento ricopro il ruolo
      di <b>Front-End Developer</b>.
    </p>
  </div>
  <div class="standardColumnContainer fullSize anchor">
    <h1 class="center">Quali competenze possiedo?</h1>
    <br/>
    <p class="center">Nel corso degli anni ho acquisito diverse competenze e tuttora continuo a studiare per ottenerne di nuove</p>
    <ul>
      <li>Linguaggio C;</li>
      <li>Linguaggio C#;</li>
      <li>Linguaggio LUA;</li>
      <li>Linguaggio JAVA;</li>
      <li>Linguaggio PYTON;</li>
      <li>Linguaggio HTML;</li>
      <li>Linguaggio CSS, SCSS, SASS;</li>
      <li>Linguaggio JAVASCRIPT, TYPESCRIPT;</li>
    </ul>
    <br/>
    <p>Inoltre attraverso il mio lavoro ho avuto modo di utilizzare diversi framework e librerie per lo sviluppo web come:</p>
    <ul>
      <li>Libreria React;</li>
      <li>Framework Next;</li>
      <li>Framework Angular;</li>
      <li>Libreria THREE.JS;</li>
      <li>Ambiente Node;</li>
      <li>Libreria Express;</li>
    </ul>
    <br/>
    <p>Solitamente non utilizzo librerie particolari, preferisco realizzare tutto ciò che mi serve da me al momento, in modo tale da capirne completamente il funzionamento</p>
  </div>
  <div class="standardColumnContainer fullSize anchor">
    <h1 class="center">Questo per il momento é tutto, grazie per l'attenzione</h1>
    <p class="center">Aggiornato al 13/05/2024</p>
  </div>
</scroll-layout>
